<h1>
  {{title}}
</h1>
<div *ngFor="let voto of votos">
  <input-component voto="{{voto.title}}" (addVoto)="addVoto($event)"></input-component>
</div>
<h3 gigant highlight>{{votacion}}</h3>

<h2>Converso</h2>

<div>Cantidad: <input [(ngModel)]="cantidad" /></div>
<div>1 dolar es: <input [(ngModel)]="factor" /></div>
<p>
  oh es: {{cantidad | conversorPipe:factor }}
</p>

<h2>Tickets from JSON </h2>

<ul>
  <li *ngFor="let ticket of tickets" gigant (click)="verTicket(ticket.id)">
      <b>Ticket N: {{ticket.id}}</b> - {{ticket.titulo}}
      <span highlight> [ {{ticket.estado}} ] </span>
  </li>
</ul>

<h2>Tickets from MongoDB </h2>

<!--ul>
  <li *ngFor="let ticket of ticketMongo" gigant (click)="verTicket(ticket.id)">
      <b>Ticket N: {{ticket.id}}</b> - {{ticket.titulo}}
      <span highlight> [ {{ticket.estado}} ] </span>
      <button md-raised-button (click)="verMongoTicket(ticket.id)">Ver</button>
      <button md-raised-button (click)="updateMongoTicket(ticket.id)">Update</button>
      <button md-raised-button (click)="removeMongoTicket(ticket.id)">Delete</button>
  </li>
</ul-->

<md-card class="example-card" *ngFor="let ticket of ticketMongo">
  <md-card-header>
    <md-card-title>{{ticket.id}}</md-card-title>
    <md-card-subtitle>{{ticket.estado}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
        {{ticket.titulo}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="verMongoTicket(ticket.id)"> VER </button>
    <button md-button (click)="updateMongoTicket(ticket.id)"> UPDATE </button>
    <button md-button (click)="removeMongoTicket(ticket.id)"> DELETE </button>
  </md-card-actions>
</md-card>

<h2>Tickets from Firebase</h2>

<ul>
  <li *ngFor="let ticket of ticketFirebase | async" (click)="verTicket(ticket.id)">
      <b>Ticket N: {{ticket.id}}</b> - {{ticket.titulo}}
      <span highlight> [ {{ticket.estado}} ] </span>
      <button pButton label="Remove"></button>
      <button pButton label="Update"></button>
      <button pButton label="Ver"></button>
  </li>
</ul>


<form [formGroup]="myForm" (ngSubmit)="myForm.value">
    <div>
        <label for="nameInput">Nombre</label>
        <input type="text" id="nameInput" placeholder="Nombre" name="nombre" [formControl]="myForm.controls['name']" />
    </div>
    <button type="submit">Submit</button>

</form>

<button (click)="increment()">Incrementar</button>
<div>Counter: {{counter | async}}</div>
<button (click)="decrement()">Decrementar</button>
<button (click)="reset()">Reset</button>

<p gigant>Progress: {{progress}}%</p>
<p gigant *ngIf="progress >= 100">Done processing {{label}} of Angular zone!</p>
<button gigant (click)="processWithinAngularZone()">con Angular Zone</button>
<button gigant (click)="processOutsideOfAngularZone()">sin Angular Zone</button>